[submodule "algo_course"]
	path = algo_course
	url = https://github.com/vertuxty/algo.git
[submodule "Web"]
	path = Web
	url = https://github.com/vertuxty/Web-course.git
[submodule "skkv_cpp"]
	path = skkv_cpp
	url = https://github.com/vertuxty/skkv_cpp_y2022.git
[submodule "comp-arch"]
	path = comp-arch
	url = https://github.com/vertuxty/comp_arhc.git
[submodule "paradigms-2023"]
	path = paradigms-2023
	url = https://github.com/vertuxty/paradigms-2023.git
[submodule "prog-intro"]
	path = prog-intro
	url = https://github.com/vertuxty/prog-intro.git
[submodule "OSLite"]
	path = OSLite
	url = https://github.com/vertuxty/OSLite.git
[submodule "dmLabs"]
	path = dmLabs
	url = https://github.com/vertuxty/dm_labs.git
